* {
  margin: 0px;
  padding: 0px;
  text-align: center;
}
.main-heading {
  background-color: rgba(3, 7, 3, 0.927);
  color: white;
  height: 5rem;
  line-height: 4rem;
  font-size: 4rem;
}
.choices {
  display: flex;
  justify-content: center;
  margin-top: 5rem;

  gap: 15rem;
}
.choice {
  height: 17.5rem;
  width: 17.5rem;
  border-radius: 50%;
  margin-bottom: 3rem;
}
.choice:hover {
  border: 7px solid black;
}
#paper {
  background-color: orangered;
  background-image: url("/hand.png");
  background-size: cover;
  object-fit: cover;
}
#scissors {
  background-color: rgb(47, 208, 216);
  background-image: url("/victory.png");
  background-size: cover;
}
#rock {
  background-color: rgb(116, 243, 57);
  background-image: url("/closed-fist.png");
  background-size: cover;
}
.score-board {
  display: flex;
  justify-content: center;
  margin-top: 7rem;
  gap: 5.5rem;
}
p {
  font-size: 3rem;
  font-weight: 600;
}
#user-point {
  font-size: 8rem;
}
#comp-point {
  font-size: 8rem;
}
#game-result {
  height: 6rem;
  font-size: 4rem;
  color: white;
  background-color: black;
  margin-top: 9rem;
  display: inline-block;
  border-radius: 1rem;
}
